
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<NewsItemModel>

<h1>News Items</h1>

<div class="col-12 d-flex justify-content-around flex-wrap ">
    @foreach (var item in Model)
    {
        <div class="card col-3 m-2 p-4 shadow">
            <img class="card-img-top" src="~/NewsImgs/@item.PhotoUrl" alt="Card image cap">
            
            <div class="card-body">
                <p>@item.Title</p>
                <p class="small">@item.Description</p>
            </div>
        </div>
    }
</div>

